<template>
	<view style="padding: 0rpx 35rpx;">

		<Loading v-if="loading"></Loading>
		
		<view v-else>
		
			<view v-if="couponList.length === 0" class="emptContainer">
				<image src="../../static/image/noresult.jpg" mode="aspectFit" style="height: 350rpx;width: 350rpx;"></image>
				<text style="color: #999999;font-size: larger;">您还没有优惠劵</text>
			</view>
			
			<view v-for="(list, index) in couponList" :key="index">
				<CouponGroup
				:couponGroup = "list"
				:fromPayment = "fromPayment"
				:groupIndex = "index"
				@optionRadioChange = "optionRadioChange"/>
			</view>
			
			<view style="height: 300rpx;flex-shrink: 0;"></view>
			
			<!-- 底部的bar -->
			<view v-show="fromPayment" class="tabbar">
				<view class="col" style="margin-left: 15rpx;">
					<text style="color: #FFFFFF;">已使用{{coupon_count}}张券</text>
					<text style="color: #FFFFFF;">共优惠 ${{discount}}</text>
				</view>
				
				<view class="calculate" @click="popupSwitch">输入code</view>
			</view>
			
			<!-- 确定按钮 -->
			<view v-show="fromPayment" @click="confirmDiscount" class="confirm">确定</view>
			
			<!-- 底部弹出框 -->
			<u-popup v-model="show" mode="bottom" border-radius="30" closeable="true" width="100%" height="40%" close-icon-pos="top-left">
				<view class="codeContainer">
					
					<text style="font-weight: 500;">输入优惠码code</text>
					
					<view class="couponInput">
						<input style="width: 250rpx;" v-model="codeEntered" type="text" cursor-spacing="180"/>
						<image src="../../static/image/clear.png" mode="aspectFit" style="height: 40rpx;width: 40rpx;" @click="clearCode"></image>
					</view>
					
					<view class="apply" @click="checkPromo">确定</view>
				</view>
			</u-popup>
		
		</view>

	</view>
</template>

<script lang="ts">
	import {Component, Vue, Watch} from "vue-property-decorator";
	import {CouponLogic} from "@/logic/CouponLogic";
	import {PaymentLogic} from "@/logic/PaymentLogic"; 
	import {PaymentInfo} from "@/module/PaymentInfo";
	import {
	    Coupon,
	    CouponListElement,
	    CouponResult, Discount,
	    DiscountGroup,
	    ValidationResult
	  } from "@/module/Coupon";
	
	import Loading from "../../components/Loading.vue";
	import CouponGroup from "../components/CouponGroup.vue";
	
	@Component({
		components: {
		  Loading,
		  CouponGroup
		}
	})
	export default class CouponList extends Vue{
		private couponLogic: CouponLogic = CouponLogic.getInstance();
		private paymentLogic: PaymentLogic = PaymentLogic.getInstance();
		private paymentInfo: PaymentInfo = this.paymentLogic.getPaymentInfo();
		
		private couponList: CouponListElement[] = [];
		private couponCodes: string = ""
		private fromPayment: boolean = false
		private loading: boolean = true;
		private show: boolean = false;
		private codeEntered: string = ""
		private shop_id: number = 0
		private shipping_type: string = ""
		private coupon_count: number = 0
		private discount: number = 0
		private validate_coupons: any
		
		onLoad(e: any){
			this.loading = true
			if(e.hasOwnProperty('from')){
				this.shipping_type = e.shipping_type
				this.shop_id = e.shop_id
				
				this.fromPayment = true
				this.couponCodes = this.paymentInfo.placeInfo.codes
				this.fetchCouponList()
				this.verify_coupon()
			}else{
				this.fetchCouponList()
			}
		}
		
		fetchCouponList(){
			this.couponLogic.fetchCouponList(this.codeEntered)
			.then(res => {
				console.log(res)
				this.couponList = this.couponLogic.getCouponList()
				this.loading = false
			})
			.finally(() => this.fromPayment ? this.autoChecked() : '')
		}
		
		// getPromocodeList(){
		// 	let params = {
		// 		used: 0,
		// 		code_type: 'coupon_code',
		// 	}
		// 	this.couponLogic.getPromocodeList(params)
		// 	.then(res => {
		// 		console.log(res)
		// 		// this.couponList = this.couponLogic.getCouponList()
		// 		this.loading = false
		// 	})
		// }
		
		optionRadioChange(p: any){
			if(this.couponList[p.groupIndex].coupons[p.couponIndex].checked === 1){
				this.couponList[p.groupIndex].coupons[p.couponIndex].checked = 0
			}else{
				this.couponList[p.groupIndex].coupons.map(e => e.checked = 0)
				this.couponList[p.groupIndex].coupons[p.couponIndex].checked = 1
			}
			this.recalculateCoupon()
		}
		
		recalculateCoupon(){
			var codes: string[] = []
			this.couponList.map(e => {
				e.coupons.map(coupon => {
					if (coupon.checked === 1) {
						codes.push(coupon.code)
					}
				}) 
			})
			this.couponCodes = codes.toString()
			// console.log(this.couponCodes);
			this.verify_coupon()
		}
		
		verify_coupon(){
			this.couponLogic.verify_coupon(this.couponCodes)
			.then(res => {
				// console.log(res)
				this.validate_coupons = res.discount
				this.coupon_count = res.summary.coupon_count
				this.discount = res.summary.discount
				uni.hideLoading()
			})
		}
		
		autoChecked(){
			var appliedDiscount = this.paymentInfo.discountGroup
			console.log(appliedDiscount)
			if(appliedDiscount.hasNormalDiscount()){
				appliedDiscount.normal_discount.map(dis =>{
					this.couponList[1].coupons.map(coupon => {
						coupon.code === dis.getDiscountCode() ? coupon.checked = 1 : ''
					})
				})
			}
			if(appliedDiscount.hasMemberDiscount()){
				appliedDiscount.member_discount.map(dis =>{
					this.couponList[2].coupons.map(coupon => {
						coupon.code === dis.getDiscountCode() ? coupon.checked = 1 : ''
					})
				})
			}
			if(appliedDiscount.hasOverLapDiscount()){
				appliedDiscount.overlap_discount.map(dis =>{
					this.couponList[3].coupons.map(coupon => {
						coupon.code === dis.getDiscountCode() ? coupon.checked = 1 : ''
					})
				})
			}
			// console.log(this.couponList)
		}
		
		checkPromo(){
			uni.showLoading({title: 'Loading'})
			this.couponLogic.checkPromo(this.codeEntered)
			.then(res => {
				console.log(res)
				// 重新获取优惠券列表给用户选择
				this.fetchCouponList()
				this.show = false
				uni.hideLoading()
				uni.showToast({
					title: res.desc,
					icon: 'none'
				});
			})
		}
		
		confirmDiscount(){
			let pages = getCurrentPages();             //获取所有页面栈实例列表
			let nowPage = pages[ pages.length - 1];    //当前页页面实例
			let prevPage = pages[ pages.length - 2 ];  //上一页页面实例
			
			if (this.validate_coupons != null) {
				// 重新显示折扣并且计算价格
				// @ts-ignore
				prevPage.$vm.coupon_code = this.couponCodes
				// @ts-ignore
				prevPage.$vm.calCart();
			}
			
			uni.navigateBack({ 	
				delta: 1
			});
		}
		
		popupSwitch(){
			this.show = true
		}
		
		clearCode(){
			this.codeEntered = ""
		}
		
	}
</script>

<style>
	
	.emptContainer{
		width: 100%;height: 100%;display: flex;margin-top: 200rpx;flex-direction: column;align-items: center;
	}
	
	.codeContainer{
		display: flex;
		flex-direction: column;
		padding: 30rpx;align-items: center;
	}
	
	.apply{
		background-color: #FF5722;
		color: #FFFFFF;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 90rpx;
		height: 80rpx;
		width: 250rpx;
	}
	
	.couponInput{
		margin: 60rpx 0rpx;
		padding: 10rpx 40rpx;
		border-radius: 30rpx;
		width: 400rpx;
		height: 80rpx;
		background-color: #F5F5F5;
		font-size: larger;
		font-weight: 600;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	
	.calculate{
		align-items: center;
		justify-content: center;
		background-color: #FF5722;
		color: #FFFFFF;
		padding: 20rpx;
		border-radius: 98rpx;
	}
	
	.confirm{
		position: fixed;
		bottom: 30rpx;
		z-index: 1000;
		display: flex;
		color: #FFFFFF;
		align-items: center;
		justify-content: center;
		background-color: #FF5722;
		border-radius: 98rpx;
		right: 20rpx;
		width: 160rpx;
		height: 100rpx;
	}
	
	.tabbar {
		padding: 5rpx 20rpx;
		position: fixed;
		bottom: 30rpx;
		z-index: 1000;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		background-color: #000000;
		border-radius: 98rpx;
		left: 20rpx;
		width: 500rpx;
		height: 100rpx;
	}
</style>
