<template>
	<view>
		
		<image src="../static/image/customerService.jpg" class="img" mode="scaleToFill"></image>
		
		<button class="btn" open-type="contact">人工客服</button>
		
		<button class="btn" @click="reminder">催单</button>
		
		<u-popup v-model="popup" mode="center" height="22%" width="80%" border-radius="10" @touchmove.prevent>
			<view class="container">
				
				<view class="col">
					<text class="orderId">请输入订单号</text>
					
					<input :focus="autoFocus" type="number" placeholder="请输入订单号" 
					style="padding: 10rpx 30rpx;margin-top: 20rpx;" @input="orderId"/>
				</view>
				
				
				<view class="row">
					<view class="confirm" @click="cancel">取消</view>
					<view class="confirm" style="color: #7cfc00;" @click="confirm">提交</view>
				</view>
				
			</view>
		</u-popup>
		
	</view>
</template>

<script lang="ts">
	import {Component, Vue, Watch} from "vue-property-decorator";
	import {GlobalSetting} from "@/GlobalSetting";
	import {ApiHelper} from "@/api/ApiHelper";
	
	@Component({})
	export default class ContactUs extends Vue{
		private apiHelper = ApiHelper.getInstance();
		
		private popup: boolean = false;
		private autoFocus: boolean = false;
		private order_id: number = 0;
		
		async confirm(){
			const res = await this.apiHelper.hurryUp(this.order_id)
			.then(e => {
				console.log(e)
				uni.showToast({
					title: '催单成功！',
					icon: 'none'
				});
				this.popup = false
			})
		}
		
		// 取消
		cancel(e: any){
			this.popup = false
		}
		
		// 获取订单号
		orderId(e: any){
			this.order_id = e.detail.value
		}
		
		// 催单
		reminder(e: any){
			this.popup = true
			setTimeout(() => {
				this.autoFocus = true
			}, 500)
		}
	}
</script>

<style>
	
	.container{
		display: flex;flex-direction: column;justify-content: space-between;height: 100%;
	}
	
	.orderId{
		height: 100rpx;width: 100%;display: flex;align-items: center;
		justify-content: center; font-size: large;
	}
	
	.confirm{
		/* margin-top: 30rpx; */
		height: 80rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
		border: 0.5px solid #F0F0F0;
	}
	.img{
		width: 100%;
	}
	.btn{
		border: none;
		border-radius: 90rpx;
		margin: 50rpx 100rpx;
		background-color: #ffd700;
		font-weight: 300;
	}
</style>
