<template>
	<view class="page">
		
		<Loading v-if="loading"></Loading>
		
		<UserInfo
		:loginStatus = "loginStatus"
		:user = "userDetail"/>
		
		<UserAccount 
		:loginStatus = "loginStatus"/> 
		 
		<u-cell-group>
			<u-cell-item icon="server-fill" title="在线客服" @click="chat"></u-cell-item>
			<u-cell-item icon="info-circle-fill" title="关于我们" @click="aboutus"></u-cell-item>
			<u-cell-item icon="integral-fill" title="商家加盟" @click="join"></u-cell-item>
		</u-cell-group>
		
		<button v-show="loginStatus" class="logout" @click="logout">注销</button>
		
		<!-- 测试按钮 -->
		<!-- <button v-show="showTestButton" class="test" @click="popupSwitch">快速进店</button>
		
		<u-popup v-model="show" mode="bottom" border-radius="30" closeable="true" width="100%" height="40%" close-icon-pos="top-left">
			<view class="container">
				<text style="font-weight: 500;">请输入店id</text>
				<view class="couponInput">
					<input style="width: 350rpx;" v-model="mid" type="number" cursor-spacing="180"/>
					<image v-show="mid.length!==0" src="../../static/image/clear.png" mode="aspectFit" class="icon" @click="clearMid"></image>
				</view>
				<view class="apply" @click="checkmid">确定</view>
			</view>
		</u-popup> -->
		
	</view>
</template>

<script lang="ts">
	import {Component, Vue, Watch} from "vue-property-decorator";
	import {GlobalSetting} from "@/GlobalSetting";
	import {UserDetail} from "@/module/UserDetail";
	import {UserLogic} from "@/logic/UserLogic";
	
	import Loading from "../../components/Loading.vue";
	import UserInfo from "../../components/UserInfo.vue";
	import UserAccount from "../../components/UserAccount.vue";
	
	@Component({
		components: {
		  Loading,
		  UserInfo,
		  UserAccount
		}
	})
	export default class UserView extends Vue{
		private globalSetting: GlobalSetting = GlobalSetting.getInstance();
		private userLogic: UserLogic = UserLogic.getInstance();
		
		private mid: string = '';
		private loading: boolean = false;
		private show: boolean = false;
		private showTestButton: boolean = false;
		private loginStatus: boolean = this.globalSetting.isLogin();
		private userDetail: UserDetail = new UserDetail();
		
		onShow(){
			this.loginStatus = this.globalSetting.isLogin()
			if(this.loginStatus){
				this.fetchUserDetail()
				this.checkMember()
			}
		}
		
		fetchUserDetail(){
			this.loading = true
			this.userLogic.fetchUserDetail(this.globalSetting.getUser().cid)
			.then(() => {
				this.userDetail = this.userLogic.getUserDetail()
				this.loading = false 
				console.log(this.userDetail)
			})
		} 
		
		checkMember(){
			this.globalSetting.isMember() ? this.showTestButton = true : ''
		}
		
		checkmid(){
			uni.showLoading({title: 'Loading...'})
			this.userLogic.checkMid(parseInt(this.mid))
			.then(res => {
				this.globalSetting.setMid(parseInt(this.mid))
				uni.hideLoading()
				this.show = false
				uni.switchTab({url: '../index/index'})
			})
		}
		
		popupSwitch(){
			this.show = true
		}
		
		clearMid(){
			this.mid = ''
		}
		
		aboutus(){
			uni.navigateTo({
				url: '../../pagesA/AboutUs/AboutUs',
			});
		}
		
		// 在线客服
		chat() {
			this.loginStatus ? (
			uni.navigateTo({
				url: '../../pagesA/ContactUs/ContactUs',
			})) : this.gotoLogin()
			
		}
		
		// 商家加盟
		join() {
			uni.navigateTo({
				url: '../../pagesA/WebView/WebView?url=merchant',
			});
		}
		
		gotoLogin(){
			uni.navigateTo({
				url: '../../pagesA/Login/Login',
			});
		}
		
		logout(){
			this.globalSetting.clearUser()
			this.globalSetting.clearUserStorage()
			this.loginStatus = false
			this.showTestButton = false
		}
		
	}
</script>

<style>
	
	.icon{
		height: 40rpx;width: 40rpx;
	}
	
	.container{
		display: flex;
		flex-direction: column;
		padding: 30rpx;align-items: center
	}
	
	.apply{
		background-color: #FF5722;
		color: #FFFFFF;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 90rpx;
		height: 80rpx;
		width: 250rpx;
	}
	
	.couponInput{
		margin: 60rpx 0rpx;
		padding: 10rpx 40rpx;
		border-radius: 30rpx;
		width: 400rpx;
		height: 80rpx;
		background-color: #F5F5F5;
		font-size: larger;
		font-weight: 600;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	
	.test{
		background-color: #FF8161;color: #FFFFFF;
		margin-top: 50rpx;
		border: none;
		font-weight: 300;
	}
	
	.page{
		padding: 0rpx 30rpx; padding-bottom: 30rpx;
	}
</style>
