<template>
	<view>
		
		<u-popup v-model="show" z-index="10000"
			mode="bottom"
			height="60%" 
			border-radius="20" 
			@touchmove.prevent @touchmove.stop style="overflow: hidden;">
			
			<view class="barContainer">
				<view style="font-size: large;">购物车</view>
				<view class="row" @click="emptyCart">
					<image src="../static/image/trash.png" mode="aspectFill" style="height: 40rpx;width: 40rpx;"></image>
					<view style="color: #999999;">清空购物车</view>
				</view>
			</view> 
			
			<!-- 购物车菜品展示 -->
			<scroll-view scroll-y="true" style="height: 750rpx;">
				<view v-for="(it, index) in shoppingCart" :key="index">
					
					<view class="cartItem" @click="openProductOption(it, true)">
						<view class="productContainer">
							<view class="row">
								
								<image :src="it.product_image=='' ? errorImage : it.product_image" :lazy-load="true" @error="handleError(it.product_image)" mode="aspectFill" style="width: 120rpx;height: 120rpx;border-radius: 20rpx;margin-left: 10rpx;flex-shrink: 0;"></image>
								<view class="infoContainer">
									<!-- 菜名 -->
									<text class="item">{{it.product_name}}</text>
									
									<!-- 菜品的自由选项 -->
									<!-- 显示菜品的自由选项 -->
									<view v-if="it.options.length!=0" class="optionContainer">
										<text class="option">{{it.productToString()}}</text>
									</view>
									
									<view class="row" style="align-items: center;">
										<!-- 菜价 -->
										<text class="row_total">${{it.row_total.toFixed(2)}}</text>
										<!-- 菜品原价 -->
										<text v-if="it.row_total!=it.org_row_total" class="org_row_total">${{it.org_row_total.toFixed(2)}}</text>
									</view>
									
								</view>
							</view>
							
							<!-- 菜品加减 -->
							<NumberBox
								:cartIndex = "index"
								:qty = "it.qty"
								@addItem = "addItemFromCart"
								@removeItem = "removeItemFromCart"
							></NumberBox>
						
						</view>
					</view>
				</view>
				<!-- 底部留白 -->
				<view class="leftEmpty"></view>
				
			</scroll-view>
			 
		</u-popup>
		
	</view>
</template>

<script lang="ts">
	import {Component, Prop, Watch, Vue} from "vue-property-decorator";
	import {CartLogic} from "@/logic/CartLogic";
	import {Product} from "@/module/Product";
	
	import NumberBox from './NumberBox.vue';
	
	@Component({
		components:{
			NumberBox
		}
	})
	export default class CartPopup extends Vue{
		@Prop() private showCart!: Boolean
		
		private cartLogic = CartLogic.getInstance();
		private shoppingCart: Product[] = this.cartLogic.getCart()
		private show: boolean = false
		private errorImage: string = '../static/image/errorMenu.png'
		
		@Watch('cartLogic', {deep: true}) watchCart(newVal: CartLogic){
			// console.log(newVal)
			this.shoppingCart = newVal.getCart()
			this.shoppingCart.map(p => {
				p.row_total = p.calculateRowTotal()
				p.org_row_total = p.calculateOrgRowTotal()
			})
		}
		
		@Watch('showCart') watchshowCart(newVal: boolean){
			this.show = newVal
		}
		
		@Watch('show') watchshow(newVal: boolean){
			if(!newVal){
				this.$emit('closeCart', newVal)
			}
		}
		
		openProductOption(product: Product, openFromCart: boolean){
			this.$emit('openProductOption', {
				product: product,
				openFromCart: openFromCart
			})
		}
		
		addItemFromCart(e: any){
			// console.log(this.shoppingCart[e.cartIndex])
			let p: Product = this.shoppingCart[e.cartIndex].deepCopyProduct()
			p.qty = 1
			this.$emit('addItemFromCart', p)
		}
		
		removeItemFromCart(e: any){
			let p: Product = this.shoppingCart[e.cartIndex].deepCopyProduct()
			p.qty = 1
			this.$emit('removeItemFromCart', p)
		}
		
		emptyCart(){
			this.$emit('emptyCart')
		}
		
		handleError(img: string){
			img = this.errorImage
		}
		
	}
</script>

<style>
	
	.optionContainer{
		display: flex;flex-direction: row;margin: 10rpx 0rpx;
	}
	
	.option{
		font-size: smaller;font-weight: 300;color: #999;
	}
	
	.infoContainer{
		display: flex;
		flex-direction: column;
		justify-content: space-around;padding-left: 20rpx;
	}
	
	.row_total{
		font-size: large;color: #FF8161;font-weight: 500;
	}
	
	.org_row_total{
		color: #999;text-decoration: line-through;margin-left: 15rpx;
	}
	
	.productContainer{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		align-items: center;
	}
	
	.cartItem{
		padding: 20rpx 30rpx;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		/* height: 140rpx; */
		width: 100%;
		border-bottom: 0.5px solid #F0F0F0;
	}
	
	.barContainer{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 30rpx;
		height: 100rpx;
		border-bottom: 0.5px solid #F0F0F0;
	}
</style>
