<template>
	<view v-if="!hide">
		
		<!-- 满减提升 -->
		<view v-if="hasDiscount" class="shop_full">
			
			<text v-if="metShopFull" class="shop_full_text">当前应用满${{full_amount.toFixed(1)}}减${{discount_amount.toFixed(1)}}</text>
			
			<text v-else class="shop_full_text">还差${{(full_amount - totalPrice).toFixed(1)}}就可以立减${{discount_amount.toFixed(1)}}</text>
		</view>
		
		<!-- 底部悬浮的bar -->
		<view class="btn" @click="openCart">
			<view class="priceContainer">
				
		
				<button @click.stop class="shareBtn" style="border: none;" open-type="share" plain="true">
					<image src="../static/image/share.png" mode="aspectFit" class="shareIcon"></image>
					<view class="shareIconText">分享</view>
				</button>
		
				<view class="totalPrice">${{totalPrice.toFixed(2)}}</view>
					
				<view v-if="originalTotalPrice!=totalPrice && originalTotalPrice!=null" 
				class="originalTotalPrice">{{originalTotalPrice.toFixed(2)}}</view>
				
			</view>
			
		
			<view v-if="shopDetail.open === 0" class="notEnough">已经打烊</view>
			<view v-else-if="totalPrice > shopDetail.min_amount" class="placeOrder" @click.stop="placeOrder">去结算</view>
			<view v-else class="notEnough">还差${{(Number(shopDetail.min_amount) - Number(totalPrice)).toFixed(2)}}</view>
		
		</view>
		
	</view>
</template>

<script lang="ts">
	import {Component, Prop, Watch, Vue} from "vue-property-decorator";
	import {ShopDetail} from "@/module/ShopDetail";
	import {CartLogic} from "@/logic/CartLogic";
	import {PaymentInfo} from "@/module/PaymentInfo";
	
	@Component({})
	export default class PriceBar extends Vue{
		@Prop() private hide!: boolean
		@Prop() private shopDetail!: ShopDetail
		
		private cart = CartLogic.getInstance();
		
		private totalPrice: number = 0
		private originalTotalPrice: number = 0
		private hasDiscount: boolean = false
		private metShopFull: boolean = false
		private full_amount: number = 0
		private discount_amount: number = 0
		
		@Watch('cart', {deep: true}) watchCart(newVal: CartLogic){
			this.totalPrice = newVal.getSubTotal()
			this.originalTotalPrice = newVal.getOrgSubtotal()
			this.merchantShopFullDiscount()
		}
		
		@Watch('shopDetail') watchShopDetail(newVal: ShopDetail){
			this.merchantShopFullDiscount()
		}
		
		placeOrder(){
			this.$emit('placeOrder')
		}
		
		openCart(){
			this.cart.isCartEmpty() ? '' :	this.$emit('openCart', true)
		}
		
		// 检测商家是否有满减折扣
		merchantShopFullDiscount(){
			//@ts-ignore
			if (this.shopDetail.data.hasOwnProperty('discount_events') && this.shopDetail.data.discount_events.hasOwnProperty('shop_full_discount')) {
				// 有满减折扣
				this.hasDiscount = true
				//@ts-ignore
				let shop_full_discount = this.shopDetail.data.discount_events.shop_full_discount
				
				//@ts-ignore
				if (this.totalPrice < shop_full_discount[0].options.full_amount) {
					// 未达到满减
					//@ts-ignore
					if (shop_full_discount[0].discount_type === 'integer') {
						this.metShopFull = false
						//@ts-ignore
						this.full_amount = shop_full_discount[0].options.full_amount
						//@ts-ignore
						this.discount_amount = shop_full_discount[0].discount_amount
					}else{
						this.hasDiscount = false
					}
				}else{
					var metShopFullIndex;
					// 达到满减, 找到符合的满减折扣
					//@ts-ignore
					shop_full_discount.forEach((item: any, index: number)=>{
						if (this.totalPrice >= item.options.full_amount) {
							metShopFullIndex = index
						}
					});
					//@ts-ignore
					if (shop_full_discount[metShopFullIndex].discount_type === 'integer') {
						this.metShopFull = true
						//@ts-ignore
						this.full_amount = shop_full_discount[metShopFullIndex].options.full_amount
						//@ts-ignore
						this.discount_amount = shop_full_discount[metShopFullIndex].discount_amount
						
						this.totalPrice -= this.discount_amount
					}else{
						this.hasDiscount = false
					}
				}
				this.$forceUpdate()
			}
		}
		
	}
</script>

<style>
	
	.priceContainer{
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-left: 40rpx;
		/* margin-top: 15rpx; */
	}
	
	.totalText{
		
		color: #FFFFFF;font-size: larger;margin-left: 20rpx;
	}
	
	.totalPrice{
		margin-left: 20rpx;
		color: #FFFFFF;
		font-size: larger;
		/* margin-top: 10rpx; */
		font-weight: 600;
	}
	
	.originalTotalPrice{
		margin-left: 20rpx;
		color: #999;
		font-weight: 500;
		/* margin-top: 15rpx; */
		text-decoration: line-through;
	}
	
	.shareBtn{
		display: flex;
		flex-direction: column;
	}
	
	.shareIcon{
		height: 40rpx;
		width: 35rpx;
		margin-top: 15rpx;
		margin-left: 5rpx;
	}
	
	.shareIconText{
		color: #FFFFFF;
		font-size: x-small;
		white-space: nowrap;
	}

	.btn {
		position: fixed;
		bottom: 10rpx;
		z-index: 10000;
		display: flex;
		left: 30rpx;
		right: 30rpx;
		flex-direction: row;
		background-color: #000000;
		border-radius: 98rpx;
		width: 700rpx;
		height: 100rpx;
		display: flex;
		justify-content: space-between;
	}
	
	.shop_full{
		position: fixed;
		bottom: 110rpx;
		z-index: 1000;
		display: flex;
		left: 80rpx;
		right: 80rpx;
		flex-direction: row;
		background-color: #FEF8C2;
		border-top-left-radius: 98rpx;
		border-top-right-radius: 98rpx;
		width: 600rpx;
		height: 40rpx;
		justify-content: center;
		align-items: center;
	}
	
	.shop_full_text{
		font-size: small;
		color: #9D6100;
	}
	
	.notEnough {
		display: flex;
		color: #FFFFFF;
		justify-content: center;
		align-items: center;
		/* margin-left: 120rpx; */
		height: 100rpx;
		width: 240rpx;
		white-space: nowrap;
		background-color: #202020;
		border-top-right-radius: 98rpx;
		border-bottom-right-radius: 98rpx;
	}
	
	.placeOrder {
		display: flex;
		color: #FFFFFF;
		justify-content: center;
		align-items: center;
		/* margin-left: 50rpx; */
		height: 100rpx;
		width: 240rpx;
		white-space: nowrap;
		background-color: #FF8161;
		border-top-right-radius: 98rpx;
		border-bottom-right-radius: 98rpx;
	}
	
</style>
