<template>
	<view>
		<!-- 底部弹出框 -->
		<!-- 商品配置项 -->
		<u-popup v-model="show" 
		mode="bottom" 
		height="100%" 
		border-radius="20" 
		z-index="100000"
		 @touchmove.prevent style="overflow: hidden;z-index: 1000;">
		 
		 
			<!-- 关闭弹出层的悬浮图标 -->
			<image src="../static/image/clear.png" @click="closePopup" mode="aspectFit" class="closeIcon"></image>
			
			<!-- 滑动区域 -->
			<scroll-view class="scroll" scroll-y="true">
				<!-- 图片 -->
				<image :src="product.product_image==='' ? error : product.product_image" 
				@error="errorHandle(product.product_image)" mode="aspectFill" class="img"></image>
				
				<view class="absolute">
					
					<!-- 名字价格 -->
					<view class="infoContainer">
						<text class="name">{{product.product_name}}</text>
						
						<view class="row" style="align-items: center;">
							<text v-if="row_total!==org_row_total" 
								class="ori_row_total">${{org_row_total}}</text>
								
							<text class="row_total">${{row_total}}</text>
						</view>
					</view> 
					
					<!-- 描述信息 -->
					<view class="description">
						<text v-if="product.product_desc === '' || product.product_desc === null">没有商品描述信息</text>
						<text v-else >{{product.product_desc}}</text>
					</view>
		
					<!-- 配置项 -->
					<view v-for="(item, index) in product.options" :key="index" class="optionContainer">
		
						<text class="label">{{item.label}}</text>
		
						<!-- 单选(必选) -->
						<view v-if="item.type==='radio' && item.min===1">
							<view class="required">[必选]</view>
							<radio-group>
								<label v-for="(ritem, rindex) in item.items" 
								@click="ritem.status===0 ?'':optionRadioChange(index, rindex, $event)"
								:key="rindex" class="options">
									<view class="row">
										<radio :value="ritem.name" 
										:checked="ritem.checked === 1" 
										color="#FF8161" 
										:disabled="ritem.status==0" />
										
										<text class="radioName" 
										:style="{'color': (ritem.status==0 ? '#BBBBBB':''),'color': (ritem.checked==1 ? '#FF8161':'')}">{{ritem.name}}</text>
										
										<text v-show="ritem.price!=0" class="radioPrice">+ ${{ritem.price}}</text>
										
										<text v-show="ritem.org_price && ritem.org_price!=ritem.price" class="radio_ori_price">${{ritem.org_price}}</text>
									</view>
									<view v-show="ritem.status==0" class="soldout">SOLD OUT</view>
								</label>
							</radio-group>
						</view>
						
						<!-- 单选(可选) -->
						<view v-else-if="item.type==='radio' && item.min===0">
							<view class="optional">[可选]</view>
							<radio-group>
								<label v-for="(ritem, rindex) in item.items" @click="ritem.status===0 ?'': optionRadioChange(index, rindex, $event)"
								 :key="rindex" class="options">
								 
									<view class="row">
										<!-- 数量为0时显示单选框 -->
										<radio v-if="ritem.qty===0" :value="ritem.name" :checked="ritem.checked === 1" color="#FF8161" :disabled="ritem.status===0" />
										
										<!-- 数量大于0的时候显示加减 -->
										<view v-else class="row">
											<view @click.stop="removeOptionItem(index, rindex)" class="remove">-</view>
											<text class="qty">{{ritem.qty}}</text>
											<view class="add">+</view>
										</view>
										
										<!-- 选项名字价格 -->
										<text class="radioName" :style="{'color': (ritem.status===0 ? '#BBBBBB':''),'color': (ritem.checked===1 ? '#FF8161':'')}">{{ritem.name}}</text>
										<text v-show="ritem.price!=0" class="radioPrice">+ ${{ritem.price}}</text>
										<text v-show="ritem.org_price && ritem.org_price!=ritem.price" class="radio_ori_price">${{ritem.org_price}}</text>
									</view>
									
									<view v-show="ritem.status==0" class="soldout">SOLD OUT</view>
								</label>
							</radio-group>
						</view>
		
						<!-- 多选 -->
						<view v-else-if="item.type=='checkbox'">
							
							<view v-if="item.min===0" class="checkboxTextOptional">[可选，最多可选{{item.max}}个]</view>
							<view v-else class="checkboxTextRequire">[必选, 最少选{{item.min}}个, 最多选{{item.max}}个]</view>
							
							<checkbox-group>
								<label ﻿v-for="(citem, cindex) in item.items" @click="citem.status==0 ? '' : checkboxGroupChange(index, cindex, item.max)"
								 :key="cindex" class="options" style="padding: 13rpx 0rpx;">
									<view style="display: flex;flex-direction: row;align-items: center;">
										<!-- 若max是1，则显示checkbox -->
										<checkbox v-if="citem.max === 1" :value="citem.name" :checked="citem.checked" color="#FF8161" :disabled="citem.status===0"/>
		
										<!-- max大于1则显示加 -->
										<view v-else-if="citem.qty === 0">
											<view class="checkboxAdd">+</view>
										</view>
		
										<!-- qty大于0 显示加减 -->
										<view v-else class="row">
											<view v-if="citem.qty!=0" @click.stop="removeOptionItem(index, cindex)" class="remove">-</view>
											<text v-if="citem.qty!=0" class="qty">{{citem.qty}}</text>
											<view class="add">+</view>
										</view>
		
										<!-- 选项名字 -->
										<text class="checkBoxName" v-bind:style="{'color': (citem.status==0 ? '#BBBBBB':''), 'color': (citem.checked==1 ? '#FF8161' : '')}">{{citem.name}}</text>
										<text v-show="citem.price!=0" class="radioPrice">+ ${{citem.price}}</text>
										<text v-show="citem.org_price&&citem.org_price!=citem.price" class="radio_ori_price">${{citem.org_price}}</text>
		
									</view>
									<view v-show="citem.status==0" class="soldout">SOLD OUT</view>
								</label>
							</checkbox-group>
						</view>
					</view>
					
					<!-- 选择数量 -->
					<text class="chooseQty">选择数量</text>
					<view class="center">
						<view class="numberBoxContainer">
							<u-icon name="minus" color="#999999" @click="removeProduct()"></u-icon>
							<text style="padding: 0rpx 60rpx;">{{product.qty}}</text>
							<u-icon name="plus" size="35" color="#999999" @click="addProduct()"></u-icon>
						</view>
					</view>
		
					<!-- 备注 -->
					<text class="Instructions">Special Instructions</text>
					<input type="text" placeholder="Add a note" v-model="pNote" confirm-type="done" class="note"/>
		
					<!-- 底部留白 -->
					<view class="leftEmpty"></view>
				</view>
			</scroll-view>
		
			<!-- 底部添加按钮 -->
			<view v-if="!openFromCart" class="btn" @click="addToCart">添加到购物车</view>
			 
			 <!-- 底部更新按钮 -->
			<view v-else class="btn" @click="renewToCart">更新到购物车</view>
			 

		</u-popup>
	</view>
</template>

<script lang="ts">
	import {Component, Prop, Watch, Vue} from "vue-property-decorator";
	import {MenuLogic} from "@/logic/MenuLogic";
	import {CartLogic} from "@/logic/CartLogic";
	import {Product} from "../module/Product";
	
	@Component({})
	export default class ProductPopup extends Vue{
		@Prop() private showOption!: Boolean
		@Prop() private openFromCart!: Boolean
		
		private menuLogic = MenuLogic.getInstance()
		private cart = CartLogic.getInstance();
		private product : Product = new Product();
		private show: boolean = false
		private isOutOfStock: boolean = false
		private isRLimit: boolean = false
		private row_total: number = 0
		private org_row_total: number = 0
		private error: string = '../static/image/error.png'
		
		@Watch('product', {deep: true}) watchProduct(newVal: Product, oldVal: Product){
			// let that = this
			this.isOutOfStock = this.product.isOutOfStock()
			//等待emit传值
			// setTimeout(function(){
			// that.onProductChanged()
			// }, 70);
			let c = this.cart.inCartDisNumber(this.product.product_id);
			let haslimit = this.product.discount_limit_times > 0;
			this.isRLimit = haslimit && c >= this.product.discount_limit_times
			let overLimit = this.product.qty > this.product.discount_limit_times

			if(!this.isRLimit) {
			this.product.dis_qty = haslimit && overLimit
			  ? this.product.discount_limit_times
			  : this.product.qty
			}
			
			this.row_total = this.product.calculateRowTotal()
			this.org_row_total = this.product.calculateOrgRowTotal()
			// this.displaynote = this.product.note;
		}
		
		@Watch('showOption') watchShow(newVal: boolean){
			this.product = this.menuLogic.getSelectedProduct()
			// this.row_total = this.product.price
			// this.org_row_total = this.product.org_price
			this.show = newVal
		}
		
		addToCart(){
			// console.log(this.product)
			if(!this.product.meetRadioRequire() || !this.product.meetCheckboxMin()){
				return
			}
			this.$emit('addItemFromPopup', this.product)
		}
		
		renewToCart(){
			if(!this.product.meetRadioRequire() || !this.product.meetCheckboxMin()){
				return
			}
			this.$emit('renewToCart', this.product)
		}
		
		optionRadioChange(optionIndex: number, itemIndex: number, e: any){
			// console.log(optionIndex, itemIndex, e)
			var item = this.product.options[optionIndex].items[itemIndex];
			
			if (this.product.options[optionIndex].min === 1) {	//必选
				// 把所有选项清空
				this.product.options[optionIndex].uncheckAll()
				// 选中
				item.checked = 1;
				item.qty = 1;
			}else if(this.product.options[optionIndex].min === 0){	//可选
				if (item.qty === 0) {	//选中一个新的选项
					// 把所有选项清空
					this.product.options[optionIndex].uncheckAll()
					// 选中
					item.checked = 1;
					item.qty = 1;
				}else{
					item.qty++;
				}
			}
		}
		
		checkboxGroupChange(optionIndex: number, itemIndex: number, max:number){
			var item = this.product.options[optionIndex].items[itemIndex];
			
			if(this.product.options[optionIndex].exceedOptionMax()){
				this.alert('提示', this.product.options[optionIndex].label + '不能超过' + max + '个')
				return
			}else if(item.exceedItemMax()){
				return;
			}
			
			if (item.max == 1) {
				// 显示的checkbox
				if (item.checked == 0) {
					// 选中checkbox
					item.checked = 1
					item.qty = 1
				} else if (item.checked == 1) {
					// 取消选中
					item.checked = 0
					item.qty = 0
				}
			} else {
				// 显示的加减
				item.checked = 1
				item.qty++
			}
			
			console.log(this.product)
		}
		
		removeOptionItem(optionIndex: number, itemIndex:number){
			let item = this.product.options[optionIndex].items[itemIndex]
			if(item.qty > 0){
				item.qty--
				item.qty === 0 ? item.checked = 0 : '';
			}
		}
		
		removeProduct(){
			if(this.product.qty <= 1){
				return;
			}
			this.product.qty--
		}
		
		addProduct(){
			this.product.qty++
		}
		 
		closePopup(){
			this.$emit('closePopup', false)
		}
		
		alert(title: string, content: string){
			uni.showModal({
				showCancel: false,
				title: title,
				content: content,
			})
		}
		
		errorHandle(img: string){
			img = this.error
		}
		
	}
</script>

<style>
	.btn{
		position: fixed;
		bottom: 30rpx;
		z-index: 1000;
		display: flex;
		right: 30rpx;
		flex-direction: row;
		border-radius: 98rpx;
		width: 700rpx;
		height: 100rpx;
		color: #FFFFFF;
		font-size: larger;
		background-color: #FF8161;
		align-items: center;
		justify-content: center;
		left: 25rpx;
		font-weight: 500;
	}
	
	.note{
		height: 100rpx;
		background-color: #F7F7F7;
		padding: 20rpx 30rpx;
		flex-shrink: 0;
	}
	
	.Instructions{
		padding: 20rpx 30rpx; 
		font-size: larger;
		font-weight: 300;
		margin-top: 100rpx;
	}
	
	.center{
		width: 100%;
		display: flex;
		justify-content: center;
	}
	
	.numberBoxContainer{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center; 
		width: 300rpx;
		height: 100rpx; 
		border-radius: 90rpx; 
		border: 1px solid #F0F0F0;
	}
	
	.chooseQty{
		padding: 40rpx 30rpx; 
		font-size: larger;
		font-weight: 300;
	}
	
	.closeIcon{
		position: absolute;
		top: 20rpx;
		left: 20rpx;
		z-index: 10000;
		height: 60rpx;
		width: 60rpx;
	}
	
	.scroll {
		width: 100%;
		height: 100%;
		background-color: #FFFFFF;
	}
	
	.img{
		width: 100%;
		height: 350rpx;
		z-index: 1000;
		margin-top: 0;
	}
	
	.absolute {
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		top: 320rpx;
		right: 0rpx;
		left: 0rpx;
		bottom: 0rpx;
		z-index: 10;
		position: absolute;
		border-top-left-radius: 40rpx;
		border-top-right-radius: 40rpx;
		background-color: #FFFFFF;
		flex-shrink: 0;
	}
	
	.description{
		padding: 10rpx 30rpx;
		font-size: smaller;
		border-bottom: 0.3px solid #F0F0F0;
		padding-bottom: 20rpx;
	}
	
	.infoContainer{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0rpx 30rpx;
		padding-top: 30rpx;
		flex-shrink: 0;
	}
	
	.name{
		font-size: large;
		padding-bottom: 10rpx;
		font-weight: bold;
		width: 75%;
		display: flex;
		flex-shrink: 0;
	}
	
	.row_total{
		font-size: large;
		font-weight: bold;
		margin-left: 15rpx;
	}
	
	.ori_row_total{
		font-weight: bold;
		color: #999999;
		text-decoration: line-through;
	}
	
	.label{
		font-size: large;
		font-weight: 500;
		text-decoration: underline;
		text-decoration-color: #FFFF00;
		text-decoration-thickness: 5px;
		text-decoration-style: solid;
	}
	
	.required{
		font-weight: 300;
		color: #FF0000;
		margin-bottom: 10rpx;
		margin-top: 5rpx;
	}
	
	.options {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 17rpx 0rpx;
		border-bottom: 0.5px solid #F0F0F0;
		justify-content: space-between;
		margin-top: 5rpx;
	}
	
	.optionContainer{
		padding: 20rpx 30rpx;
		margin-top: 10rpx;
	}
	
	.radioName{
		margin-left: 15rpx;
		font-size: large;
	}
	
	.radioPrice{
		margin-left: 15rpx;
		font-size: small;
		color: #999999;
		margin-top: 10rpx;
		white-space: nowrap;
	}
	
	.radio_ori_price{
		margin-left: 15rpx;
		font-size: smaller;
		color: #999999;
		margin-top: 10rpx;
		white-space: nowrap;
		text-decoration: line-through;
	}
	
	.soldout {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #202020;
		color: #FFFFFF;
		padding: 3rpx 10rpx;
		border-radius: 10rpx;
		font-size: x-small;
		font-weight: 300;
		height: 50rpx;
	}
	
	.optional{
		font-weight: 300;
		color: #999;
		margin-bottom: 10rpx;
	}
	
	.qty{
		padding: 0rpx 20rpx;
		padding-top: 5rpx;
	}
	
	.add,
	.remove {
		/* box-shadow: 0px 0px 2px 2px #DDDDDD; */
		display: flex;
		justify-content: center;
		align-items: center;
		width: 55rpx;
		height: 55rpx;
		border-radius: 98rpx;
		color: white;
		padding-bottom: 10rpx;
		font-size: x-large;
		font-weight: 700;
		background-color: #FF8161;
	}
	
	.checkboxAdd{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 55rpx;
		height: 55rpx;
		border-radius: 98rpx;
		padding-bottom: 10rpx;
		font-size: x-large;
		font-weight: 700;
		background-color: #FFFFFF;
		color: #999999;
		margin-left: 5rpx;
		border: 0.2px solid #000000;
		box-shadow: -1px 1px 0px 0.5px #DDDDDD;
	}
	
	.checkBoxName{
		margin-left: 20rpx;
		font-size: large;
	}
	
	.checkboxTextRequire{
		font-weight: 300;
		color: #FF0000;
		margin-bottom: 10rpx;
		margin-top: 5rpx;
	}
	
	.checkboxTextOptional{
		font-weight: 300;
		color: #999;
		margin-bottom: 10rpx;
		margin-top: 5rpx;
	}
	
</style>
