<template>
	<view class="cont">
		<!-- 左边商家信息 -->
			<view class="col" style="width: 550rpx;">
				<text style="font-size: larger;font-weight: bold;overflow: hidden;flex-shrink: 0;
				text-overflow: ellipsis;white-space: nowrap;">{{name}}</text>
				<view class="row" style="margin-top: 10rpx;">
					<view class="smallText">起送: ${{min_amount}}</view>
					<view class="smallText" style="margin-left: 20rpx;">出餐时间: {{cooking_minutes}}m</view>
				</view>
				
				<view v-if="!showStoreInfo" class="smallText" style="color: #999999;margin-top: 10rpx;">{{address}}</view>
		
				<view :class="[showStoreInfo ? 'tagwarp' : 'tagNowarp']">
					<view v-for="(tagitem, tagindex) in tags" :key="tagindex" :id="'tag' + tagindex">
						<view class="tag" :style="{'color': tagitem.color,'background-color': colorToRGB(tagitem.color, 0.1)}">
							{{tagitem.tag}}</view>
					</view>
				</view>
			</view>
		
			<!-- 右边头像 -->
			<view class="col" v-if="!showStoreInfo">
				<image :src="img=='' ? errorImage : img" mode="aspectFill" 
					style="width: 130rpx;height: 130rpx;border-radius: 30rpx;"></image>
				<text @click="showInfo" class="shopInfoText">店家详情</text>
			</view>
		</view>
	</view>
</template>

<script lang="ts">
	import {Component, Prop, Watch, Vue} from "vue-property-decorator";
	
	@Component({})
	export default class ShopInfo extends Vue{
		@Prop() private id!:number
		@Prop() private img!:string
		@Prop() private address!:string
		@Prop() private name!:string
		@Prop() private min_amount!:string
		@Prop() private cooking_minutes!:string
		@Prop() private tags!:any[]
		@Prop() private showStoreInfo!: boolean
		
		//@ts-ignore
		private errorImage: string = getApp().globalData.errorImage
		
		onLoad(){
			console.log(this.tags);
		}
		
		colorToRGB(val: any, opa: number) {
			const pattern = /^(#?)[a-fA-F0-9]{6}$/; //16进制颜色值校验规则
			const flag = typeof opa == 'number'; //判断是否有设置不透明度
		
			if (!pattern.test(val)) { //如果值不符合规则返回空字符
				return '';
			}
			let v = val.replace(/#/, ''); //如果有#号先去除#号
			let rgbArr = [];
			let rgbStr = '';
			for (let i = 0; i < 3; i++) {
				let item = v.substring(i * 2, i * 2 + 2);
				let num = parseInt(item, 16);
				rgbArr.push(num);
			}
			rgbStr = rgbArr.join();
			rgbStr = 'rgb' + (flag ? 'a' : '') + '(' + rgbStr + (flag ? ',' + opa : '') + ')';
			return rgbStr;
		}
		
		showInfo(){
			this.$emit('showInfo')
		}
		
	}
</script>

<style>
	.cont {
		display: flex;
		flex-direction: row;
		padding: 10rpx 20rpx;
		justify-content: space-between;
		border-top-left-radius: 40rpx;
		border-top-right-radius: 40rpx;
		background-color: #FFFFFF;
		flex-shrink: 0;
		padding-top: 30rpx;
	}
	
	.smallText {
		font-size: small;
		font-weight: 300;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.tag {
		padding: 5rpx 14rpx;
		font-weight: 200;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: x-small;
		white-space: nowrap;
		margin: 0rpx 5rpx;
		border-radius: 98rpx;
		margin-top: 5rpx;
		overflow: hidden;
	}
	
	.tagNowarp{
		margin-top: 10rpx;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		/* white-space: nowrap; */
		width: 550rpx;
		flex-shrink: 0;
		/* overflow-x: hidden; */
	}
	
	.tagwarp{
		margin-top: 10rpx;
		flex-shrink: 0;
		display: flex;
		flex-direction: row;
		width: 100%;
		flex-wrap: wrap;
	}
	
	.shopInfoText{
		width: 120rpx;
		display: flex;
		justify-content: center;
		font-size: small;
		margin-top: 20rpx;
	}
</style>
