<template>
	<view class="detail">
		<!-- <view class="row" style="margin-top: 10rpx;align-items: center;">
			<text style="font-weight: 500;">综合评价</text>
			<uni-rate value="5" :readonly="true" size="18" :margin="15" disabledColor="#ffca3e" style="margin-left: 30rpx;"/>
			<uni-rate :value="4" :margin="20" /> 
		</view> -->
		
		<view class="row" style="margin-top: 10rpx;white-space: nowrap;">
			<text>营业时间：</text>
			<view>{{today_open_time}}</view>
		</view>
		
		<view class="row" style="margin-top: 10rpx;white-space: nowrap;">
			<text>联系电话：</text>
			<view style="text-decoration: underline;" @click="callMechant(tel)">{{tel}}</view>
		</view>
		
		<view class="row" style="margin-top: 10rpx;">
			<text style="white-space: nowrap;">详细地址：</text>
			<view style="text-decoration: underline;" @click="openMap">{{address}}</view>
		</view>
		
		<view @click="showInfo" style="width: 100%;display: flex;flex-direction: row;justify-content: center;">
			<image src="../static/image/up.png" mode="aspectFill"
			style="position: fixed;bottom: 20rpx;height: 70rpx;width: 70rpx;"></image>
		</view>
	</view>
</template>

<script lang="ts">
	import {Component, Prop, Watch, Vue} from "vue-property-decorator";
	
	@Component({})
	export default class ShopInfoDetail extends Vue{
		@Prop() private shop_rating!: number
		@Prop() private address!: string
		@Prop() private today_open_time!: string
		@Prop() private tel!: string
		@Prop() private lat!: number
		@Prop() private lon!: number
		
		showInfo(){
			this.$emit('showInfo')
		}
		
		callMechant(tel: number){
			uni.makePhoneCall({
				//@ts-ignore
				phoneNumber: tel
			})
		}
		
		openMap(){
			uni.openLocation({
				latitude: Number(this.lat),
				longitude: Number(this.lon),
				success: function() {
					// console.log('success');
				}
			});
		}
		
	}
</script>

<style>
	.detail{
		display: flex;
		flex-direction: column;
		padding: 30rpx; 
		border-bottom: 0.5px solid #F0F0F0;
	}
</style>
