<template>
	<view>
		<Loading v-if="loading"></Loading>
		
		<view v-else>
		
			<!-- 顶部图片 -->
			<swiper class="topImg" :autoplay="true" :interval="3000" :duration="1000">
				<swiper-item v-for="(item, index) in shopDetail.gallery" :key="index">
					
					<image :src="item=='' ? errorImage : item" @error="errorHandle(item)" 
					:lazy-load="true" mode="scaleToFill" style="width: 100%;"></image>
					
				</swiper-item>
			</swiper>
			
			<!-- 欢迎下单 -->
			<view class="welcomeText">
				<uni-notice-bar :text="shopDetail.horn_message==='' ? notice : shopDetail.horn_message" 
				showIcon="true" color="#ffffff" backgroundColor="none" style="width: 600rpx;"></uni-notice-bar>
			</view>
			
			<!-- 选择配送或自取的switch -->
			<subsection v-if="EnablePickup" class="switch" activeColor="#333333" styleType="button"
			:current="0" :values="switchList" @clickItem="changeDeliveryType()"></subsection>
			
			<view class="info">
				<!-- 商家信息 -->
				<ShopInfo 
					:img = "shopDetail.thumb_small"
					:tags = "shopDetail.tags"
					:cooking_minutes = "shopDetail.cooking_minutes"
					:min_amount = "shopDetail.min_amount"
					:name = "shopDetail.name"
					:address = "shopDetail.addr"
					:showStoreInfo = "showStoreInfo"
					@showInfo = "showInfo"
				></ShopInfo>
				
				<!-- 商家详情 -->
				<ShopInfoDetail v-if="showStoreInfo"
					:address = "shopDetail.addr"
					:tel = "shopDetail.tel"
					:shop_rating = "shopDetail.shop_rating"
					:today_open_time = "shopDetail.today_open_time"
					:lat = "shopDetail.lat"
					:lon = "shopDetail.lon"
					@showInfo = "showInfo"
				></ShopInfoDetail>
				
				<!-- 联动菜单 -->
				<MenuContent v-if="!showStoreInfo"
					:menu = "menu"
					@addItem = "addItem"
					@openProductOption = "openProductOption"
					@removeItem = "removeItem"
				></MenuContent>
				 
			</view>
			
			<!-- 弹出框（商品详情） -->
			<ProductPopup 
				:showOption = "showOption"
				:productInfo = "selectedProductCopy"
				:openFromCart = "openFromCart"
				@addItemFromPopup = "addItemFromPopup"
				@renewToCart = "renewToCart"
				@closePopup = "openOptionPopup"
			></ProductPopup>
			
			<CartPopup 
				:showCart="showCart" 
				@openProductOption = "openProductOption"
				@addItemFromCart = "addItemFromPopup"
				@removeItemFromCart = "removeItemFromCart"
				@emptyCart = "emptyCart"
				@closeCart="openCartPopup"/>
			
			<PriceBar
				:hide = "showStoreInfo"
				:shopDetail = "shopDetail"
				:totalPrice = "totalPrice"
				@placeOrder = "placeOrder"
				@openCart = "openCartPopup"/>
			
		</view>
		
	</view>
</template>

<script lang="ts">
	import {Component, Vue, Watch} from "vue-property-decorator";
	import {MenuLogic} from "@/logic/MenuLogic";
	import {Menu} from "@/module/Menu";
	import {Product} from "@/module/Product";
	import {DeliveryType} from "@/module/DeliveryType";
	import {createDefaultShopDetail} from "@/module/ShopDetail";
	import {GlobalSetting} from "@/GlobalSetting";
	
	import Loading from "../../components/Loading.vue";
	import subsection from "../../components/subsection.vue";
	import ShopInfo from "../../components/ShopInfo.vue";
	import ShopInfoDetail from "../../components/ShopInfoDetail.vue";
	import MenuContent from "../../components/MenuContent.vue";
	import ProductPopup from "../../components/ProductPopup.vue";
	import PriceBar from "../../components/PriceBar.vue";
	import CartPopup from "../../components/CartPopup.vue";
	
	@Component({
	    components: {
	      Loading,
		  subsection,
		  ShopInfo,
		  ShopInfoDetail,
		  MenuContent,
		  ProductPopup,
		  PriceBar,
		  CartPopup
	    }
	})
	export default class MenuView extends Vue{
		private globalSetting: GlobalSetting = GlobalSetting.getInstance();
		private menuLogic = MenuLogic.getInstance()
		private loading: boolean = true
		private showStoreInfo: boolean = false
		private EnablePickup: boolean = false
		private showOption: boolean = false
		private showCart: boolean = false
		private openFromCart: boolean = false
		private menu: Menu[] = []
		private shopDetail = createDefaultShopDetail()
		private selectedProductCopy: Product = new Product();
		private selectedProduct: Product = new Product();
		private totalPrice: number = 0
		
		private errorImage: string = '../../static/image/error.png'
		private notice: string = '欢迎下单,祝您用餐愉快!'
		private switchList: string[] = ['配送', '自取']
		
		onLoad() { 
			this.loading = true
			this.fetchShopDetail(this.globalSetting.getMid())
		} 
		
		placeOrder(){
			if (this.globalSetting.isLogin()) {
				uni.navigateTo({
					url: '../../pagesA/AddressBook/AddressBook?type=select',
				});
			}else{
				uni.navigateTo({
					url: '../../pagesA/Login/Login',
				});
			}
		}
		
		addItem(e: any){
			// console.log(e.product)
			if(this.menuLogic.productExceedMax(e.product)){
				this.showMsg('该商品只能购买' + e.product.max + '份')
				return
			}
			
			this.menu[e.category_index].products[e.product_index].qty++
			this.menuLogic.addToCart(e.product)
		}
		
		removeItem(e: any){
			this.menu[e.category_index].products[e.product_index].qty--
			this.menuLogic.removeFromCart(e.product)
		}
		
		addItemFromPopup(p: Product){
			// console.log(p)
			if(this.menuLogic.productExceedMax(p)){
				this.showMsg('该商品只能购买' + p.max + '份')
				return
			}
			
			this.menuLogic.addToCart(p)
			this.updateMenuQty(p.product_id, this.getProductQTYinCart(p.product_id))
			this.openOptionPopup(false)
		}
		
		removeItemFromCart(p: Product){
			this.menuLogic.removeFromCart(p)
			this.updateMenuQty(p.product_id, this.getProductQTYinCart(p.product_id))
			if(this.menuLogic.isCartEmpty()){
				this.openCartPopup(false)
			}
		}
		
		getProductQTYinCart(pid: number){
			return this.menuLogic.getProductQTYinCart(pid)
		}
		
		updateMenuQty(pid: number, qty: number){
			this.menu.map(e => {e.products.map(p => {
				if(p.product_id === pid){
					p.qty = qty
				}
			})})
		}
		
		renewToCart(p: Product){
			this.menuLogic.renewProductInCart(p)
			this.updateMenuQty(p.product_id, this.getProductQTYinCart(p.product_id))
			this.openOptionPopup(false)
		}
		
		fetchMenu(mid: number){
			this.menuLogic.fetchMenu(mid)
			.then(() => {
				this.menu = this.menuLogic.getMenu()
			})
			.finally(() => {
				this.loading = false
			})
		}
		
		fetchShopDetail(mid: number){
			this.menuLogic.fetchShopDetail(mid)
			.then(() => {
				this.shopDetail = this.menuLogic.getshopDetail()
				this.fetchMenu(mid)
				this.checkEnablePickup()
			})
		}
		
		checkEnablePickup(){
			this.EnablePickup = this.shopDetail.customer_pickup === 0 ? false : true
		}
		
		//选择自取或者配送
		changeDeliveryType(e: any){
			// console.log(e);
			this.loading = true
			if (e.currentIndex===0) {
				// 配送
				this.menuLogic.setDeliveryType(DeliveryType.DELIVERY)
			}else if(e.currentIndex===1){
				// 自取
				this.menuLogic.setDeliveryType(DeliveryType.PICKUP)
			}
			this.fetchMenu(this.shopDetail.mid)
		}
		
		openProductOption(e: any){
			// console.log(e)
			this.openFromCart = e.openFromCart
			if(e.openFromCart){
				this.selectedProduct = e.product
				this.selectedProductCopy = e.product.deepCopyProduct()
			}else{
				this.menuLogic.setSelectedProduct(e.category_index, e.product_index)
			}
			this.openOptionPopup(true)
		}
		
		emptyCart(){
			this.menu.map(e => {e.products.map(p => {p.qty = 0})})
			this.menuLogic.clearCart()
			this.openCartPopup(false)
		}
		
		openCartPopup(open: boolean){
			this.showCart = open ? true : false
		}
		
		openOptionPopup(open: boolean){
			this.showOption = open ? true : false
		}
		
		showInfo(){
			this.showStoreInfo = !this.showStoreInfo
		}
		
		// 顶部图片加载出错
		errorHandle(item: any){
			item = this.errorImage
		}
		
		showMsg(msg: string){
			uni.showModal({
				title: '通知',
				content: msg,
				confirmColor : '#FF8161',
				showCancel: false
			})
		}
		
	}
</script>

<style>
	
	.welcomeText{
		display: flex;
		flex-direction: row;
		padding:15rpx 30rpx;position: absolute;top: 300rpx;
	}
	
	.switch{
		position: absolute;top: 305rpx;right: 15rpx;font-size: small;width: 130rpx;
	}
	
	.topImg {
		z-index: 0;
		margin-top: 0;
		height: 400rpx;
	}
	
	.info {
		display: flex;
		flex-direction: column;
		top: 370rpx;
		right: 0rpx;
		left: 0rpx;
		bottom: 0rpx;
		z-index: 10;
		position: absolute;
		border-top-left-radius: 40rpx;
		border-top-right-radius: 40rpx;
	}
</style>
