<template>
	<view>
		<Loading v-if="loading"></Loading>
		
		<view v-else>
		
			<view v-if="addrBookList.length === 0" class="noResult">
				<image src="../../static/image/noresult.jpg" mode="aspectFit" style="height: 350rpx;width: 350rpx;"></image>
				<text class="text">您还没有地址</text>
			</view>
			 
			<view v-else>
				<AddressCell v-for = "(addrInfo, index) in addrBookList" :key="index"
					:addrInfo = "addrInfo"
					@clickAddress = "clickAddress"
					@editAddress = "editAddress"
				></AddressCell>
				 
				<view style="height: 200rpx;"></view>
			</view>
			
			
			<view class="btn" @click="addAddress">添加地址</view>
		
		</view>
		
	</view>
</template>

<script lang="ts">
	import {Component, Vue, Watch} from "vue-property-decorator";
	import {AddressLogic} from "@/logic/AddressLogic";
	import {AddrBook, ExistedAddrBook, getNewExistedAddrBook} from "@/module/AddrBook";
	import {Contact} from "@/module/Contact";
	import {GlobalSetting} from "@/GlobalSetting";
	
	import Loading from "../../components/Loading.vue";
	import AddressCell from "../components/AddressCell.vue";
	
	@Component({
		components: {
		  Loading,
		  AddressCell
		}
	})
	export default class AddressBook extends Vue{
		private globalSetting: GlobalSetting = GlobalSetting.getInstance();
		private addressLogic = AddressLogic.getInstance()
		private loading: boolean = true
		private addrBookList: ExistedAddrBook[] = [];
		
		onLoad(e: any) {
			if(e.type === 'select'){
				this.addressLogic.setEnableSelect(1)
			}else{
				this.addressLogic.setEnableSelect(0)
			}
		}
		
		onShow(){
			this.fetchAddrBook()
		}
		
		fetchAddrBook(){
			this.addressLogic.fetchAddrBook()
			.then(() => {
				this.addrBookList = this.addressLogic.getAddrBook();
				this.loading = false
			})
		}
		
		addAddress(){
			uni.navigateTo({url: '../Address/Address'});
		}
		
		editAddress(address: ExistedAddrBook){
			uni.navigateTo({url: '../Address/Address?addr=' + encodeURIComponent(JSON.stringify(address))});
		}
		
		clickAddress(address: ExistedAddrBook){
			if(this.addressLogic.getEnableSelect()){
				this.vaildAddress(address)
			}else{
				this.editAddress(address)
			}
		}
		
		chooseAddress(address: ExistedAddrBook){
			let contact = new Contact();
			contact.name = address.name;
			contact.addr = address.address;
			contact.tel = address.tel
			this.globalSetting.getUser().address = address.address
			this.globalSetting.setContact(contact);
			uni.navigateTo({url: '../Payment/Payment'})
		}
		
		vaildAddress(address: ExistedAddrBook){
			this.addressLogic.isOutOfRange(address.address)
			.then(res => {
				// console.log(res)
				if(res.city_id > 0){
					this.chooseAddress(address)
				}else{
					uni.showToast({
						title: '地址不在送餐范围内！',
						icon: 'none'
					});
				}
			})
		}
		
	}
</script>

<style>
	.text{
		color: #999999;font-size: larger;
	}
	.noResult{
		width: 100%;height: 100vh;display: flex;margin-top: 200rpx;flex-direction: column;align-items: center;
	}
	
	.cont{
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 175rpx;
		margin: 15rpx 40rpx;
		margin-top: 20rpx;
		padding: 20rpx;
		border-radius: 15rpx;
		box-shadow: 0px 0px 5px 2px #DDDDDD;
	}
	.icon{
		height: 80rpx;
		width: 80rpx;
	}
	.info{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-left: 20rpx;
	}
	.bold{
		width: 450rpx;
		font-weight: bold;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.grey{
		color: #999999;
		font-size: smaller;
	}
	.btn{
		font-size: larger;
		font-weight: bold;
		position: fixed;
		bottom: 30rpx;
		left: 20rpx;
		right: 20rpx;
		color: #FFFFFF;
		height: 100rpx;
		background-color: #ff8161;
		border-radius: 98rpx;
		box-shadow: 0px 0px 5px 2px #DDDDDD;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
</style>
