<template>
	<view>
		<image src="../../static/image/landingPage.png" mode="aspectFill" class="bg"></image>
		
		<text class="firstText">欢迎使用小红车供应链</text>
		<text class="secondText">您最可靠的供应商</text>
		
		<view class="btn" @click="goToStore()">进入店铺</view>
		
		<text class="phone">客服电话 : 437-886-7845</text>
		<text class="phone">销售电话 : 647-781-9429</text>
		
		<image src="../../static/image/footer.png" mode="aspectFill" class="footer"></image>
	</view>
</template>

<script lang="ts">
	import {Component, Vue, Watch} from "vue-property-decorator";
	 
	@Component({})
	export default class LandingPage extends Vue{
		
		goToStore(){
			uni.switchTab({url: '../../pages/MenuView/MenuView'})
			// uni.navigateTo({
			// 	url: '../../pagesA/AddressBook/AddressBook?type=select',
			// });
		}
		
	}
</script>

<style>
	
	.phone{
		display: flex;
		justify-content: center;
		margin-top: 20rpx;
		font-size: 25rpx;
		font-weight: 300;
	}
	
	.btn{
		border-radius: 90rpx;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #FC3245;
		margin: 40rpx 80rpx;
		padding: 20rpx;
		color: white;
		font-size: 35rpx;
		font-weight: 550;
	}
	
	.secondText{
		display: flex;
		justify-content: center;
		margin-top: 20rpx;
		font-size: 35rpx;
		font-weight: 300;
	}
	
	.firstText{
		display: flex;
		justify-content: center;
		margin-top: 30rpx;
		font-size: 45rpx;
		font-weight: 300;
	}

	.bg{
		width: 100%;
		height: 600rpx;
	}
	
	.footer{
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 170rpx;
	}

</style>
