<template>
	<view>
		<uni-swipe-action :autoClose="true">
			<uni-swipe-action-item disabled="ture">
				<view class='cont' @click="clickAddress()">
					<image src="../static/image/address.png" mode="scaleToFill" class="icon"></image>
					<view class="divider"></view>
					<view class="info">
						<view class="bold">
							{{addrInfo.address}}
						</view>
						<view style="margin-top: 30rpx;">
							<view class="grey">
								{{addrInfo.name}}
							</view>
							<view class="grey">
								{{addrInfo.tel}}
							</view>
						</view>
					</view>
					<image src="../static/image/pen.png" mode="scaleToFill" @click.stop="editAddress()" class="pen"></image>
				</view>
		   </uni-swipe-action-item>
		</uni-swipe-action>
	</view>
</template>

<script lang="ts">
	import {Component, Prop, Watch, Vue} from "vue-property-decorator";
	import {AddrBook, ExistedAddrBook, getNewExistedAddrBook} from "@/module/AddrBook";
	
	@Component({})
	export default class AddressCell extends Vue{
		@Prop() private addrInfo!: ExistedAddrBook
		
		clickAddress(){
			this.$emit('clickAddress', this.addrInfo)
		}
		
		editAddress(){
			this.$emit('editAddress', this.addrInfo)
		}
	}
</script>

<style>
	.pen{
		margin-left: 10rpx;height: 50rpx;width: 50rpx;
	}
	
	.divider{
		float:left;width: 1px;height: 120rpx; background: #F8F8F8; margin-left: 20rpx;
	}
	
	.cont{
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 175rpx;
		margin: 15rpx 40rpx;
		margin-top: 20rpx;
		padding: 20rpx;
		border-radius: 15rpx;
		box-shadow: 0px 0px 5px 2px #DDDDDD;
	}
	.icon{
		height: 80rpx;
		width: 80rpx;
	}
	.info{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-left: 20rpx;
	}
	.bold{
		width: 450rpx;
		font-weight: bold;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.grey{
		color: #999999;
		font-size: smaller;
	}
	.btn{
		font-size: larger;
		font-weight: bold;
		position: fixed;
		bottom: 30rpx;
		left: 20rpx;
		right: 20rpx;
		color: #FFFFFF;
		height: 100rpx;
		background-color: #ff8161;
		border-radius: 98rpx;
		box-shadow: 0px 0px 5px 2px #DDDDDD;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
</style>
