<template>
	<u-popup v-model="show" mode="center" width="85%" height="370rpx" border-radius="20" :maskCloseAble="false">
	
		<view class="numberContainer">
			<image src="../static/image/creditCard.png" mode="aspectFill" class="icon"></image>
			<input v-model="cardNum" type="number" placeholder="Credit card number" maxlength="16"/>
		</view>
		
		<view class="row">
			<view class="infoContainer">
				<text>Expiry</text>
				<input v-model="expDate" @input="formatExpiry" type="number" placeholder="MM/YY" 
				placeholder-class="placeHolder" class="inputSlot" maxlength="5"/>
			</view>
			
			<view class="infoContainer">
				<text>Postal</text>
				<input v-model="code" type="text" placeholder="Code" placeholder-class="placeHolder" class="inputSlot" maxlength="7"/>
			</view>
		</view>
		
		<view class="CVCContainer">
			<text>CVC</text>
			<input v-model="cvc" type="number" placeholder="CVC" placeholder-class="placeHolder" class="inputSlot" maxlength="4"/>
		</view>
		
		<view class="btnContainer">
			<u-button size="medium" @click="closePopup">Cancel</u-button>
			<u-button size="medium" type="warning" @click="confirm">Confirm</u-button>
		</view>
		
	</u-popup>
</template>

<script lang="ts">
	import {Component, Vue, Watch, Prop} from "vue-property-decorator";
	import {GlobalSetting} from "@/GlobalSetting"; 
	import {CreditCard} from "@/module/CreditCard";
	
	@Component({})
	export default class CreditCardPopup extends Vue{
		@Prop() private card!: CreditCard
		@Prop() private show!: boolean
		
		private cardNum: string = ""
		private expDate: string = ""
		private code: string = ""
		private cvc: string = ""
		private cardCompany: string = ""
		
		@Watch('card') watchCard(newVal: CreditCard){
			// console.log(newVal)
			let expMonth = newVal.expiry_month.length === 1 ? '0' + newVal.expiry_month : newVal.expiry_month
			this.expDate = expMonth + newVal.expiry_year.substr(2,4)
			this.formatExpiry()
			this.cardNum = newVal.card_no
			this.code = newVal.zipcode
		}
		
		closePopup(){
			this.$emit('closePopup')
		}
		
		confirm(){
			// console.log(this.card.card_no === "")
			if(!this.checkInfoVaild()){
				this.showInvaildMsg()
				return
			}
			
			let params: object = {
				card_no: this.cardNum,
				expiry_year: '20' + this.expDate.substr(3,5), 	//年份是四位数
				expiry_month: this.expDate.substr(0,2),
				zipcode: this.code,
				cvc: this.cvc,
				type: this.cardCompany
			}
			if(this.card.card_no === ""){	//添加
				this.$emit('addCreditCard', params)
			}else{	//付款
				this.$emit('pay', params)
			}
			this.closePopup()
		}
		
		checkInfoVaild(){
			return this.creditCardCompany() && this.cardNum.length >= 15 && this.cardNum.length <= 16
				&& this.expDate.length === 5 && this.cvc.length >= 3 && this.cvc.length <= 4 && this.monthVaild()
		}
		
		creditCardCompany(){
			let first = this.cardNum.slice(0, 1)
			let correctCardnum = true
			if (first === '4') {
				this.cardCompany = 'visa'
			}else if(first === '3'){
				this.cardCompany = 'amex'
			}else if(first === '5'){
				this.cardCompany = 'master'
			}else{
				correctCardnum = false
			}
			return correctCardnum;
		}
		
		showInvaildMsg(){
			uni.showModal({
				title: '提示',
				showCancel: false,
				content: '对不起，您输入的信用卡信息不正确',
			});
		}
		
		//格式化电话号码
		formatExpiry(){
			this.expDate = this.expDate.replace(/(\w{2})(\w{2})/, "$1/$2");
		}
		
		monthVaild(){
			let month = parseInt(this.expDate.substr(0,2))
			return month >= 1 && month <= 12
		}
		
		restoreExpiry(phone: string) {
			return phone.replace(/[^\w]/g, "");
		}
	}
</script>

<style>
	.placeHolder{
		display: flex;
		justify-content: center;
	}
	
	.Container{
		display: flex;
		flex-direction: row;
		margin: 20rpx 0rpx;
	}
	
	.inputSlot{
		padding: 1rpx 15rpx;
		background-color: #F0F0F0;
		border-radius: 30rpx;
		width: 150rpx;
		display: flex;
		justify-content: center;
	}
	
	.CVCContainer{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0rpx 25rpx;
		align-items: center;
		width: 50%;
		margin: 30rpx 0rpx;
	}
	
	.infoContainer{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		width: 50%;
	}
	
	.numberContainer{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding: 40rpx 0rpx;
		width: 80%;
	}
	
	.btnContainer{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin-top: 30rpx;
	}
	
	.icon{
		height: 40rpx; width: 40rpx;
	}
</style>
