<template>
	<!-- 订单详情 -->
	<view class="card">
		
		<view class="top">
			<view class="row" style="align-items: center;">
				<text class="name">{{orderInfo.shop_name}}</text>
			</view>
			<text v-if="orderInfo.order_type === 'normal'" class="type">外卖配送</text>
			<text v-else-if="orderInfo.order_type === 'redeem'" class="type">到店自取</text>
		</view>
		
		<view class="statusContainer">
			
			<view class="left">
				
				<text class="text">订单编号:   {{orderInfo.order_id}}</text> 
				
				<text class="text" style="margin: 15rpx 0rpx;">下单时间:   {{orderInfo.order_time}}</text>
				
				<view class="row">	
					<text class="text">订单状态:   {{getOrderStatus(orderInfo.status)}}</text>
					
					<view class="row" v-if="orderInfo.payment_type!=='cashpay' && orderInfo.status!==-1">
						<!-- 分隔号 -->
						<text class="separator">|</text>
						
						<!-- 支付状态 -->
						<text class="text">支付状态:   {{getPaymentStatus(orderInfo.payment_status)}}</text>
					</view>
				</view>
			</view>
			
			
			<view class="right">
				
				<!-- 支付 -->
				<picker mode="selector" :range="array" @change="choosePaymentType">
					<view v-if="showPayBTN()" class="phoneCall">
						<image src="../static/image/pay.png" mode="aspectFill" style="height: 40rpx;width: 40rpx;"></image>
						<text class="pay">去支付</text>
					</view>
				</picker>
				
				<!-- 发票 -->
				<view v-if="orderInfo.status===20" class="phoneCall" @click="receipt" style="background-color: #F5F5F5;width: 150rpx;height: 50rpx;">
					<image src="../static/image/receipt.png" mode="aspectFill" style="height: 30rpx;width: 30rpx;"></image>
					<text class="receipt">发票</text>
				</view>
				
				<!-- 价格 -->
				<text class="price">${{orderInfo.order_total}}</text>
			</view>
			
		</view>
		
	</view>
</template>

<script lang="ts">
	import {Component, Vue, Prop, Watch} from "vue-property-decorator";
	import {OrderDetailLogic} from "@/logic/OrderDetailLogic";
	import {getNewOrderDetail, OrderDetail} from "@/module/OrderDetail";
	
	@Component({})
	export default class OrderDetailCell extends Vue{
		@Prop() orderInfo!: OrderDetail
		
		private orderDetailLogic = OrderDetailLogic.getInstance();
		private array: string[] = ['微信支付', '在线支付']
		
		@Watch('orderInfo') watchOrderInfo(newVal: OrderDetail){
			// console.log(newVal)
		}
		
		mounted(){
			// console.log(this.orderInfo)
		}
		
		choosePaymentType(e: any){
			console.log(e)
			uni.showLoading({
				title: '处理中',
				mask: true,
			})
			this.$emit('choosePaymentType', e.detail.value)
		}
		
		getOrderStatus(status: number){
			return this.orderDetailLogic.getOrderStatus(status)
		}
		
		getPaymentStatus(status: number){
			return this.orderDetailLogic.getPaymentStatus(status)
		}
		
		// 发票
		receipt(){
			this.$emit('receipt')
		}
		
		showPayBTN(){
			return this.orderInfo.payment_status===0 && this.orderInfo.payment_type!=='cashpay' && this.orderInfo.status!==-1
		}
		
	}
</script>

<style>
	.receipt{
		margin-left: 10rpx;display: flex;flex-direction: row;color: #000000;
		font-size: smaller;font-weight: 300;
	}
	.pay{
		margin-left: 10rpx;color: #FFFFFF;font-size: small;
	}
	.separator{
		margin: 0rpx 10rpx;color: #F0F0F0;
	}
	
	.statusContainer{
		display: flex;
		flex-direction: row;
		padding: 30rpx;justify-content: space-between;
	}
	.phoneCall{
		background-color: #FF8161;
		color: #FFFFFF;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 70rpx;
		width: 180rpx;
		border-radius: 90rpx;
		box-shadow: 0px 0px 1px 1px #DDDDDD;
		white-space: nowrap;
	}
	.right{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.price{
		font-size: large;
		font-weight: bold;
		white-space: nowrap;
	}
	.text{
		font-size: smaller;
		font-weight: 300;
		white-space: nowrap;
	}
	.left{
		display: flex;
		flex-direction: column;
	}
	.type{
		white-space: nowrap;
		color: #999999;
		font-weight: 300;
	}
	.name{
		width: 500rpx;
		padding: 0rpx 10rpx;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: large;
		font-weight: 700;
	}
	.top{
		background-color: #F5F5F5;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
		border-top-left-radius: 10rpx;
		border-top-right-radius: 10rpx;
		padding: 20rpx 20rpx;
	}
	.card{
		margin: 40rpx;
		box-shadow: 0px 0px 3px 2px #DDDDDD;
		display: flex;
		flex-direction: column;
		border-radius: 10rpx;
	}
</style>
