<template>
	<view class="topcard">
		
		<view class="paymentText">支付方式</view>
		
		<view class="container">
			<radio-group>
				
				<label v-for="(item, index) in payment_types" :key="item.payment_type" @click="paymentRadioChange(item.payment_fee, item.payment_type)">
					
					<view v-if="item.payment_type==='wxpay'||item.payment_type==='onlinepay'||item.payment_type==='cashpay'" class="paymentItem">
						
						<view class="itemContainer">
							<image class="img" :src="paymentTypeImg(item.payment_type)" mode="scaleToFill"></image>
							<view class="title">{{item.title}}</view>
						</view>
						
						<radio color="#FF8161" :value="item.payment_type"/>
					</view>
				</label>
				
			</radio-group>
		</view>
		
	</view>
</template>

<script lang="ts">
	import {Component, Prop, Watch, Vue} from "vue-property-decorator";
	
	@Component({})
	export default class PaymentTypeCard extends Vue{
		@Prop() payment_types!: object[]
		
		@Watch('payment_types') watchPayment_types(newVal: object[]){
			// console.log(newVal)
		}
		
		paymentRadioChange(fee: number, type: string){
			// console.log(fee, type)
			this.$emit('paymentTypeChange', {
				type: type,
				fee: fee
			})
		}
		
		//判断商家支持的付款方式返回图片
		paymentTypeImg(type: string){
			let img;
			if (type === 'wxpay') {
				img = '../static/image/wechat.png'
			}else if(type === 'onlinepay'){
				img = '../static/image/creditCard.png'
			}else if(type === 'cashpay'){
				img = '../static/image/cash.png'
			}
			return img;
		}
	}
</script>

<style>
	
	.itemContainer{
		display: flex;flex-direction: row; align-items: center;
	}
	
	.title{
		margin-left: 15rpx;font-weight: 300;
	}
	
	.paymentItem{
		display: flex;flex-direction: row;justify-content: space-between;align-items: center;padding-top: 20rpx;
	}
	
	.container{
		padding: 0rpx 30rpx; padding-bottom: 10rpx;
	}
	
	.paymentText{
		background-color: #F5F5F5;padding: 20rpx 30rpx;font-weight: 500;
	}
	
	.img{
		width: 40rpx;
		height: 40rpx;
	}
	
	.topcard{
		margin: 40rpx 30rpx;
		box-shadow: 0px 0px 3px 2px #DDDDDD;
		display: flex;
		flex-direction: column;
		border-radius: 10rpx;
		padding-bottom: 20rpx;
	}
</style>	
