<template>
	<!-- 优惠劵 -->
	<view class="topcard">
		<view class="barContainer">
			<view class="discount_text">优惠</view>
			 
			<view class="row">
				<text @click="gotoCoupon">从卡包选择</text>
				<image src="../static/image/rightArrow.png" class="img" mode="aspectFill"></image>
			</view>
		</view>
		
		<view style="padding: 0rpx 30rpx;">
			
			<PaymentDiscountItem  v-for="(item, index) in discount.normal_discount" :key="index"
			:src = "'../static/image/normal_discount.png'"
			:valid = "item.valid"
			:amount_desc = "item.amount_desc"
			:desc = "item.desc"/>
			
			<PaymentDiscountItem  v-for="(item, index) in discount.member_discount" :key="index"
			:src = "'../static/image/member_discount.png'"
			:valid = "item.valid"
			:amount_desc = "item.amount_desc"
			:desc = "item.desc"/>
			
			<PaymentDiscountItem  v-for="(item, index) in discount.overlap_discount" :key="index"
			:src = "'../static/image/overlap_discount.png'"
			:valid = "item.valid"
			:amount_desc = "item.amount_desc"
			:desc = "item.desc"/>
			
			<PaymentDiscountItem  v-for="(item, index) in discount.internal_discount" :key="index"
			:src = "'../static/image/internal_discount.png'"
			:valid = "item.valid"
			:amount_desc = "item.amount_desc"
			:desc = "item.desc"/>
			
		</view>
		
		<view v-if="discountAmount===0" class="no_discount">暂无使用的优惠券</view>
		
		<view v-else class="discount_desc">小红车为您节省 ${{discountAmount}}</view>
		
	</view>
</template>

<script lang="ts">
	import {Component, Prop, Watch, Vue} from "vue-property-decorator";
	import PaymentDiscountItem from "./PaymentDiscountItem.vue";
	import {CouponValidation, DiscountGroup} from "@/module/Coupon";
	
	@Component({
		components:{
			PaymentDiscountItem
		}
	})
	export default class PaymentDiscountGroup extends Vue{
		@Prop() discount!: DiscountGroup
		@Prop() discountAmount!: string
		
		@Watch('discount') watchDiscount(newVal: DiscountGroup){
			// console.log(newVal)
		}
		
		gotoCoupon(){
			this.$emit('gotoCoupon')
		}
		
	}
</script>

<style>
	
	.no_discount{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 80rpx;
		color: #999;
	}
	
	.discount_desc{
		background-color: #F5F5F5;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 80rpx;
		color: #FF5722;
	}
	
	.img{
		height: 40rpx;width: 40rpx;margin-left: 5rpx;
	}
	
	.discount_text{
		font-weight: 500;font-size: large;
	}
	
	.barContainer{
		display: flex;
		flex-direction: row;
		justify-content: space-between;background-color: #F5F5F5;padding: 20rpx 30rpx;margin-bottom: 20rpx;
	}
	
	.topcard{
		margin: 40rpx 30rpx;
		box-shadow: 0px 0px 3px 2px #DDDDDD;
		display: flex;
		flex-direction: column;
		border-radius: 10rpx;
		padding-bottom: 0rpx;
	}
</style>
